{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-export-namespace-from",
"react-native-reanimated/plugin"]
}
